/*--VARIABLES--*/
/*--ESTILOS--*/
.body {
  background-color: #000; }

.navbar {
  font-size: 20px;
  padding: 0; }
  .navbar .navbar-nav .nav-link {
    padding: 1em; }
    .navbar .navbar-nav .nav-link:hover {
      background-color: tomato;
      border: 3px solid tomato;
      color: white;
      font-size: 20px;
      border: 3px solid darkmagenta;
      transition: background 1s; }

.navbar-brand:not(.nav-link) {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  padding: 0.5em; }
