/*logo INDEX*/

.logotipo{
    display: flex;
    width: 380px;
}

/* ................. */

body{
    background-color: rgba(255, 115, 0, 0.912);
    font-family: Arial, Helvetica, sans-serifS;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin-left: 100px;
}

h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    text-align: center;
    color: black;
}

/* estilos bootstrap index  */
.display-4{
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: 'Bree Serif', serif;
}

.display-4:hover{
    transform: scale(1.1);
    transition: 3s;
}

.display-6{
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: 'Pattaya', sans-serif;
}

/* MENU navbar bootstrap */

.navbar .navbar-nav .nav-link:hover{
    background-color: tomato;
    color: white;
    font-size: 20px;
}
.navbar .navbar-nav .nav-link{
    padding: 1em;
}
.navbar{
    font-size: 20px;
    padding: 0;
}   


/*--SERVICIOS---------------------------*/

.servicios{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.columna1 ul li{
    border: 2px solid tomato;
    padding: 15px;
    margin: 3px;
    display: flex;
    background-color: darkmagenta;
    color: white;
    list-style: none;
}

.columna2 ul li{
    border: 2px solid tomato;
    padding: 15px;
    margin: 3px;
    display: flex;
    background-color: darkmagenta;
    color: white;
    list-style: none;
}

.botones{
    display: flex;
    justify-content: center;
}

.boton{
    background-color: transparent;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
    margin: 0 50px;
    padding: 10px 20px;
}

.columna1 ul li:hover{
    background-color: tomato;
    transform: scale(1.2);
}
.columna2 ul li:hover{
    background-color: tomato;
    transform: scale(1.2);
}
.boton:hover{
    color: white;
    background-color: darkmagenta;
}


/* --COTIZAR--------------------------------------------- */

.formulario .registro .controls .boton{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.registro{
    border: none;
    width: 650px;
    background: linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(139,0,139,1) 23%, rgba(255,115,0,1) 100%);
    padding-right: 50px;
    padding-left: 30px;
    padding-top: 5px;
    margin: auto;
    margin-top: 40px;
    border-radius: 4px;
    color:black;
    font-size: 20px;
}

.registro h4{
    font-family: 'Bebas Neue', cursive;
    color: black;
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background-color: rgba(2,0,36,1) 0%;
    opacity: 0.5;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: solid 1px black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif
}

.registro .boton{
    width: 100%;
    background-color: rgba(255, 115, 0, 0.912);
    padding:auto;
    border: none;
    margin: 15px;
}

/* --TRABAJOS---------------------------------------------------- */


.lista ol li{
    border: 2px solid tomato;
    padding: 15px;
    display: flex;
    background-color: darkmagenta;
    color: white;
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

/* GALERIA IMAGENES------------------------------------------------ */

 .elemento{
    width: 100%;
}
 .elemento img:hover{
    transform: scale(1.5);
 }

 .elemento img{
    width: 100%;
    overflow: hidden;
 }


 .galeria{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
 }

@media (max-width:480px){
    .galeria{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* CONTACTO---------------------------------------------------- */

.contacto .box .icon .text {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.box div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}


/* FOOTER------- */

.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-bottom: 0%;
    margin-left: 50%;
}
 
