/*--LOGO INDEX--*/

.logotipo {
    display: flex;
    width: 380px;
}

/* --ESTILOS--*/

body {
    background-color: rgba(255, 115, 0, 0.912);
    font-family: Arial, Helvetica, sans-serifS;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin-left: 100px;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    text-align: center;
    color: black;
}

/*--ESTILOS BOOTSTRAP INDEX--*/
.display-4 {
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: 'Bree Serif', serif;
}

.display-4:hover {
    transform: scale(1.1);
    transition: 3s;
}

.display-6 {
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: 'Pattaya', sans-serif;
}

/*--NAVBAR--*/

.navbar .navbar-nav .nav-link:hover {
    background-color: tomato;
    border: 3px solid tomato;
    color: white;
    font-size: 20px;
    border: 3px solid darkmagenta;
    transition: background 1s;
}

.navbar .navbar-nav .nav-link {
    padding: 1em;
}

.navbar {
    font-size: 20px;
    padding: 0;
}

.navbar-brand:not(.nav-link) {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    padding: 0.5em;


    /*--ESTILOS SECCION SERVICIOS--*/


}

.fw-bolder {
    font-size: 20px;
    color: rgb(70, 68, 68);
    display: flex;
    justify-content: center;
    padding: auto;
}

.servicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.columna1 ul li {
    border: 2px solid tomato;
    padding: 15px;
    margin: 3px;
    display: flex;
    background-color: darkmagenta;
    color: white;
    list-style: none;
}

.columna2 ul li {
    border: 2px solid tomato;
    padding: 15px;
    margin: 3px;
    display: flex;
    background-color: darkmagenta;
    color: white;
    list-style: none;
}

.botones {
    display: flex;
    justify-content: center;
}

.boton {
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
    margin: 0 50px;
    padding: 10px 20px;
}

.columna1 ul li:hover {
    background-color: tomato;
    transform: scale(1.2);
}

.columna2 ul li:hover {
    background-color: tomato;
    transform: scale(1.2);
}

.boton:hover {
    color: white;
    background-color: darkmagenta;
}


/* --ESTILOS SECCION COTIZAR-- */


.formulario .controls .boton {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.formulario {
    background: linear-gradient(356deg, rgba(2, 0, 36, 1) 0%, rgba(139, 0, 139, 1) 23%, rgba(255, 115, 0, 1) 100%);
    width: 100%;
    padding: 15px;
    margin-top: 50px;

}

.form {
    padding: 3px;
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
}

.h1form {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(70, 68, 68)
}

.controls {
    width: 100%;
    background-color: rgba(2, 0, 36, 1) 0%;
    opacity: 0.5;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: solid 1px black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif
}

input[type="text"] {
    border: none;
    font-size: 20px;
    padding: 10px;
    width: 100%;
}

input[type="email"] {
    border: none;
    font-size: 20px;
    padding: 10px;
    width: 100%;
}

input[type="tel"] {
    border: none;
    font-size: 20px;
    padding: 10px;
    width: 100%;
}

.botonform .solicitar {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background-color: rgba(255, 115, 0, 0.912);
    padding: 15px 20px;
}

/* --ESTILOS SECCION TRABAJOS-- */


.lista ol li {
    border: 2px solid tomato;
    padding: 15px;
    display: flex;
    justify-content: center;
    background-color: darkmagenta;
    color: white;
    list-style: none;
    display: inline-block;
    margin-left: 10%;
}

.lista ol li:hover {
    background-color: tomato;
    transform: scale(1.2);
}



/*-- ESTILOS SECCION CONTACTOS--*/

.contacto .box .icon .text {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.box div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.icon i {
    display: flex;
    justify-content: center;
}

.telefono {
    color: black;
    text-decoration: none;
}

.telefono :hover {

    color: darkmagenta;
    transition: 300ms ease;

}

.email {
    color: black;
    text-decoration: none;
}

.email:hover {
    color: darkmagenta;
    transition: 200ms;
}

.maps {
    display: flex;
    justify-content: center;
}